
<h1> About GROUP NAME </h1>

<p> "Feminism isn't about making women strong. Women are already strong. It's about changing the way the world perceives that strength." —G.D. Anderson</p>

<p>"How can I create opportunities for women to move past the local level? There are all these barriers [in the music business] to entry, and women don’t graduate in the same way, because there aren’t the same opportunities. It’s very skewed. I’m trying to come up with ways to create a critical mass, a scene. Galvanizing is really important. If you’re all doing something together, you have a lot more momentum. And you meet each other and you create this social economy of people helping each other. So it’s not as lonely. And it’s really fun. I mean, when you have this excuse to just meet and talk to these smart women all day long?" -Anna Bulbrook</p>

<p> "It took me quite a long time to develop a voice, and now that I have it, I am not going to be silent." —Madeleine Albright</p>

<p>Women have to work much harder to make it in this world. It really pisses me off that women don’t get the same opportunities as men do, or money for that matter. Because lets face it, money gives men the power to run the show. It gives men the power to define our values and to define what’s sexy and what’s feminine and that’s bullshit. At the end of the day, it’s not about equal rights, it’s about how we think. We have to reshape our own perception of how we view ourselves. — Beyoncé</p>

<p>"A feminist is anyone who recognizes the equality and full humanity of women and men." ―Gloria Steinem </p>

<p>Do not bring people in your life who weigh you down. And trust your instincts … good relationships feel good. They feel right. They don’t hurt. They’re not painful. That’s not just with somebody you want to marry, but it’s with the friends that you choose. It’s with the people you surround yourselves with. —Michelle Obama</p>

<p>We realize the importance of our voices only when we are silenced. — Malala Yousafzai</p>

<p> "I think the best role models for women are people who are fruitfully and confidently themselves, who bring light into the world." —Meryl Streep </p>

<p>"I am not free while any woman is unfree, even when her shackles are very different from my own." —Audre Lorde</p>

<p>"We need women at all levels, including the top, to change the dynamic, reshape the conversation, to make sure women's voices are heard and heeded, not overlooked and ignored." —Sheryl Sandberg</p>

<p>"There's something so special about a woman who dominates in a man's world. It takes a certain grace, strength, intelligence, fearlessness, and the nerve to never take no for an answer." —Rihanna</p>
